.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details .left {
  text-align: center;
}

.details .left h2 {
  font-size: 2rem;
}

.details .left p {
  font-size: 1.2rem;
}

.details .right {
  text-align: center;
}

.details .right .image {
  width: 100%;
  border-bottom: 2px solid #008080;
}