.item {
  margin: 0.5rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: #c2e7f0;
  width: 500px;
}

.item figure {
  margin: 0;
  height: 200px;

  flex: 1.3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.item blockquote {
  margin: 0;
  text-align: left;
  font-size: 1.5rem;
}

.item p {
  margin: 0;
  margin-bottom: 0.25rem;
  font-size: 1.5rem;
}

.item figcaption {
  font-style: italic;
  color: #566d6d;
}

.item .article {
  font-style: italic;
  color: #566d6d;
  font-size: 1rem;
}

.item .image {
  flex: 1.7;
  width: 70%;
  height: 200px;
}

.item a img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
